@import url("https://fonts.googleapis.com/css?family=Exo");
@import url("https://fonts.googleapis.com/css?family=Inter");

.home {

    display: grid;
    grid-template-columns: auto;
    justify-content: center;

    .header {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        color: white;

        .main {
            font-family: 'Inter';
            font-size: 38px;
            font-weight: bold;

        }

        .sub {
            font-family: 'Inter';
        }

        .user {

            margin-top: 20px;
            display: flex;
            column-gap: 10px;

            font-family: 'Inter';

            %commonDesignExit {
                border-radius: 10px;
                width: 50px;
                border: none;
                color: #038920dd;
                font-weight: bold;
                background-color: white;
                text-align: center;
                display: grid;
                grid-template-columns: auto;
                align-items: center;
                box-shadow: 1px 1px 10px rgb(33, 33, 33, 0.8);
                cursor: pointer;
            }

            .exit {
                @extend %commonDesignExit;
            }

            .userName {
                font-style: italic;
                font-size: 16px;
                background-color: white;
                width: fit-content;
                color: #038920dd;
                font-weight: bold;
                padding: 10px;
                border-radius: 10px;

            }

            .checkList {
                @extend %commonDesignExit;
                width: 75px !important;
            }
        }

    }

    .ManagerSelected {
        height: fit-content;
        padding: 0px 0px 20px 0px;
        width: 90vw;
        box-shadow: 1px 1px 10px rgb(33, 33, 33, 0.5);
        border-radius: 20px;
        margin-top: 20vh;
        background-color: white;

        h3 {
            font-family: 'Inter';
            margin-left: 20px;
            color: #038920dd;
        }

        input {
            width: 236px;
            height: 40px;
            display: block;
            margin: 0px auto 0px auto;
            box-shadow: 1px 1px 10px rgb(27, 27, 27, 0.5);
            border-radius: 10px;
            outline: none;
            border: none;
            padding: 0px 12px 0px 12px;
        }

        button {
            display: block;
            margin: 30px auto 0px auto;
            width: 100px;
            height: 40px;
            border-radius: 10px;
            outline: none;
            border: none;
            box-shadow: 1px 1px 10px rgb(27, 27, 27, 1);
            color: white;
            font-weight: bold;
            background-color: #038920dd;
        }

        .listOfManager {
            width: 260px;
            height: 40px;
            margin: 0px auto 0px auto;
            box-shadow: 1px 1px 10px rgb(27, 27, 27, 0.5);
            border-radius: 10px;
            display: flex;
            align-items: center;
            position: relative;

            span {
                font-family: 'Inter';
                margin: 0px 0px 0px 10px;
            }

            .transparencyM {
                position: absolute;
                font-size: 16px;
                font-family: 'Exo';
                margin-top: 40px;
                top: 0;
                background-color: white;
                box-shadow: 1px 10px 10px rgb(27, 27, 27, 0.2);
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                .mangerName {
                    padding: 10px;
                    cursor: pointer;
                    border-radius: 10px;
                }

                .mangerName:hover {
                    background-color: rgb(167, 167, 167);
                }
            }



        }
    }

    .DataEntry {
        height: fit-content;
        width: 40vh;
        background-color: white;
        box-shadow: 1px 1px 10px rgb(33, 33, 33, 0.8);
        margin: 45px 0px 0px 0px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        padding: 0px 0px 20px 0px;

        .date {
            margin-top: 30px;
            padding: 10px;
            font-size: 18px;
            font-family: 'Inter';
            border-radius: 10px;
            font-weight: bold;
            box-shadow: 1px 1px 10px rgb(33, 33, 33, 0.8);
        }

        .Verifi {
            font-family: 'Exo';
            font-weight: bold;
        }

        .sectionVerified {
            border-radius: 10px;
            width: 220px;
            box-shadow: 1px 1px 10px rgb(33, 33, 33, 0.8);

            .sec {
                padding: 5px;
                font-size: 18px;
                font-family: 'Inter';
                display: flex;
                column-gap: 10px;
                align-items: center;

                i {
                    font-size: 20px;
                }

                .square {
                    height: 15px;
                    width: 15px;
                    border-radius: 4px;
                    border: 1px solid black;
                }
            }
        }

        .wage {
            font-size: 20px;
            font-family: 'Inter';
            font-weight: bold;
        }

        .workers {

            display: flex;
            column-gap: 20px;
            font-size: 24px;
            text-align: center;
            font-family: 'Inter';

            %commonlistWorker {
                position: absolute;
                top: 0;
                width: 130px;
                height: fit-content;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                box-shadow: 1px 1px 10px rgb(33, 33, 33, 0.8);

                margin-top: 45px;
                background-color: white;
                display: none;

                .workerId {
                    padding: 8px;
                    cursor: pointer;
                }

                .workerId:hover {
                    background-color: gray;
                }
            }

            .selectClass {
                position: relative;
                border-radius: 10px;
                box-shadow: 1px 1px 10px rgb(33, 33, 33, 0.8);
                font-size: 16px;
                min-width: 80px;
                font-size: 26px;
                text-align: center;
                display: grid;
                grid-template-columns: auto;
                align-items: center;

                .class12 {
                    position: absolute;
                    background-color: white;

                    top: 0;
                    margin-top: 45px;
                    width: 80px;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    box-shadow: 1px 10px 10px rgb(33, 33, 33, 0.5);

                    .class {
                        padding: 10px;
                    }
                }
            }

            %classCommonDesing {
                display: grid;
                grid-template-columns: auto;
                align-items: center;
                border-radius: 10px;
                height: 25px;
                width: fit-content;
                padding: 10px 14px 10px 14px;
                box-shadow: 1px 1px 10px rgb(33, 33, 33, 0.8);
                position: relative;
            }

            .class1 {

                @extend %classCommonDesing;

                .listWorker {
                    @extend %commonlistWorker;
                }

            }


        }

        label {
            display: flex;
            flex-direction: column;
            row-gap: 8px;

            span {
                font-family: 'Exo';
                font-weight: bold;
            }

            input {
                height: 35px;
                width: 200px;
                box-shadow: 1px 1px 10px rgb(33, 33, 33, 0.7);
                border: none;
                border-radius: 10px;
                padding: 0px 12px 0px 12px;
                outline: none;
            }
        }

        .addBtn {
            cursor: pointer;
            width: 100px;
            padding: 10px;
            background-color: #038920dd;
            color: white;
            font-family: 'Inter';
            text-align: center;
            border-radius: 10px;
            box-shadow: 1px 1px 10px rgb(33, 33, 33, 0.8);
        }
    }

    .Data {
        display: flex;
        flex-direction: column;
        row-gap: 35px;
        align-items: center;



        %commonDesignClass12 {
            width: 85vw;
            background-color: white;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            height: fit-content;
            box-shadow: 1px 1px 10px rgb(33, 33, 33, 0.5);
            overflow-x: auto;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 12px;

            span {
                padding: 8px;
                background-color: #13a032dd;
                color: white;
                display: block;
                width: 100%;
                border-top-left-radius: 10px;
            }

            .datadisplay {
                display: flex;
                flex-direction: row;

                .row {
                    display: flex;
                    flex-direction: column;

                    .r {
                        font-family: 'Inter';
                        border: 1px solid black;
                        width: 135px;
                        padding: 10px;
                    }

                    .main {
                        font-weight: bold;
                        font-family: 'Inter';
                        padding: 10px !important;
                    }
                }
            }

        }

        .class1 {
            margin: 50px 0px 0px 0px;
            @extend %commonDesignClass12;

        }

        .DataReset {
            background-color: red;
            padding: 10px;
            color: white;
            font-family: 'Inter';
            border-radius: 10px;
            box-shadow: 1px 1px 10px rgb(33, 33, 33, 0.5);
            cursor: pointer;
        }

        .bottomSelection {
            display: flex;
            column-gap: 10px;
            align-items: center;

            .sendData {
                text-decoration: none;
                background-color: #038920dd;
                padding: 10px;
                color: white;
                font-family: 'Inter';
                border-radius: 10px;
                box-shadow: 1px 1px 10px rgb(33, 33, 33, 0.5);
                cursor: pointer;
            }

            input {
                border-radius: 10px;
                outline: none;
                border: 1px solid gray;
                padding: 10px;
                width: 100px;
            }

            .deletion {
                background-color: red;
                padding: 10px;
                color: white;
                font-family: 'Inter';
                border-radius: 10px;
                box-shadow: 1px 1px 10px rgb(33, 33, 33, 0.5);
                cursor: pointer;
            }
        }


        .class2 {
            @extend %commonDesignClass12;
        }

    }

    .TotalDisplay {
        justify-self: center;
        margin-top: 50px;
        box-shadow: 1px 1px 10px rgb(33, 33, 33, 0.5);
        border-radius: 10px;
        font-family: 'Exo';
        %commonDesignTable {
            display: flex;

            div {
                width: 100px;
                padding: 10px;
                border: 1px solid grey;
                text-align: center
            }
        }
        .exportTotal{
            padding: 10px;
            background-color: #038920dd;
            margin: 0px auto 0px auto;
            color: white;
            display: block;
            text-align: center;
            text-decoration: none;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .title {

            @extend %commonDesignTable;
        }

        .worker {
            @extend %commonDesignTable
        }
    }
}